{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
          <h1 class="h1 mb-0 text-gray-800">About Us</h1>
      </div>
      <div>
        <div><h2 class="h2 mb-0 text-gray-800">Qui sommes nous : </h2>   </div>
        <div> <h3 class = "h3 mb-0 text-gray-800"></h3> </div>
      </div>
        <br>
        <br>
      <div>
        <div><h2 class="h2 mb-0 text-gray-800">Mission et vision :</h2>   </div>
          <br>
        <div class="tbn"> <h3 class = "h3 mb-0 text-gray-800">
            La Mission de PAC est de contribuer à l’amélioration et l’optimisation des
            équipements industriels de nos clients, dans une volonté d’efficacité
            technique et financière : augmenter la disponibilité et la fiabilité de vos
            équipements, tout en assurant la sécurité de vos équipes et maitriser la
            disponibilité de vos outils de production est pour nous un but à atteindre
            Nous souhaitons que les investissements en infrastructures de nos clients
            soient durables et apportent un retour sur investissement satisfaisant pour
            l’ensemble des parties prenantes des projets.
        </h3> </div>
      </div>
        <br>
        <br>
      <div>
        <div><h2 class="h2 mb-0 text-gray-800">Valeurs : </h2>   </div>
        <div> <h3 class = "h3 mb-0 text-gray-800"></h3> </div>
      </div>
    </div>
{% endblock content %}