{% extends 'basecont.html' %}

{% block content %}


    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
          <h1 class="h3 mb-0 text-gray-800">Contactez nous</h1>
      </div>
      <div>
        <div><h2 class="h4 mb-0 text-gray-800">Address : </h2>   </div>
        <div > <h3 class = "h5 mb-0 text-gray-800"></h3>
            <span>03 Rue Calavon Elkaram II Rez de Chaussée N : 03
            Quartier des Hôpitaux 20340 Casablanca.</span>
        </div>
      </div>
        <br>
      <div>
        <div><h2 class="h4 mb-0 text-gray-800">Mail :</h2>   </div>
            <div  class="tbn"> <h3 class = "h5 mb-0 text-gray-800">
        </h3>hassan.ayadi.pac@gmail.com</div>
      </div>
        <br>
      <div>
        <div><h2 class="h4 mb-0 text-gray-800">Tel :</h2>   </div>
        <div class="tbn"> <h3 class = "h5 mb-0 text-gray-800">
        </h3> 06 61 30 59 68</div>
      </div>
        <br>
      <!--<div>
        <div><h2 class="h4 mb-0 text-gray-800">GSM :</h2>   </div>
        <div class="tbn"> <h3 class = "h5 mb-0 text-gray-800">
        </h3>  022 27 51 66</div>
      </div>
        <br>-->
      <div>
        <div><h2 class="h4 mb-0 text-gray-800">Fax :</h2>   </div>
        <div class="tbn"> <h3 class = "h5 mb-0 text-gray-800">
        </h3> 022 27 51 66</div>
      </div>
    </div>

{% endblock content %}