{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<!--
	Lamoda by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<html lang="en-gb" class="no-js">
  <head>
    <meta charset="utf-8">
	<title>Proocess Automation Consulting</title>
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">		
		
	<!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      

     <!--styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'js/owl-carousel/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'js/owl-carousel/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/etlinefont.css' %}">
    <link href="{% static 'css/style.css' %}" type="text/css"  rel="stylesheet"/>
      <style>
          .sub-menu {
                      display: flex;
                      justify-content: center;
                      overflow: hidden;
                    }

                    .sub-menu a {
                      float: left;
                      font-size: 16px;
                      min-width: 90px;
                      color: white;
                      text-align: center;
                      padding: 14px 16px;
                      text-decoration: none;
                      transition: all .5s;
                    }

                    .active {
                      background: #2C3E50;
                    }

                    .sub-menu-nav {
                      float: left;
                      overflow: hidden;
                    }

                    .sub-menu-nav .nav-btn {
                      cursor:pointer;
                      min-width: 120px;
                      font-size: 16px;
                      border: none;
                      outline: none;
                      color: white;
                      padding: 14px 16px;
                      background-color: inherit;
                      font-family: inherit;
                      margin: 0;
                      margin-top: 5px;
                      transition: all .5s;
                    }

                    .sub-menu a:hover, .sub-menu-nav:hover .nav-btn {
                      background-color: #2C3E50;
                    }

                    .sub-menu-alt {
                      display: none;
                      position: absolute;
                      background-color: #2C3E50;
                      z-index: 1;
                    }

                    .sub-menu-alt a {
                      min-width: 90px;
                      float: left;
                      color: white;
                      text-decoration: none;
                    }

                    .sub-menu-alt a:hover {
                      background-color: #eee;
                      color: #000;
                    }

                    .sub-menu-nav:hover .sub-menu-alt {
                      display: block;
                    }

                    @media screen and (max-width: 600px) {
                      .sub-menu {
                          flex-direction: column;
                      }
                      .sub-menu-nav {
                        text-align:center;
                        width:100%;
                      }
                      .nav-btn {
                        width:100%;
                      }
                    }
      </style>

   <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js">
        </script>
        <![endif]-->
    
	<body  data-spy="scroll" data-target="#main-menu">
 

  <!--Start Page loader -->
  <div id="pageloader">   
        <div class="loader">
          <img src="{% static 'images/progress.gif' %}" alt='loader' />
        </div>
   </div>
   <!--End Page loader -->
   
      
   <!--Start Navigation-->
		<header id="header">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
								<span class="sr-only">Toggle navigation</span>
								<span class="fa fa-bars"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                            <!--Start Logo -->
							<div class="logo-nav">
								<a href="index.html">
									<img src="{% static 'images/apple-touch-icon.png' %}" alt="Company logo" height="50px" width="80px" />
								</a>
							</div>
                            <!--End Logo -->
							<div class="clear-toggle"></div>
							<div class="sub-menu">
                                  <div class="sub-menu-nav">
                                    <button onclick="location.href='{% url 'home' %}'" class="nav-btn">Home</button>
                                  </div>
                                  <div class="sub-menu-nav">
                                    <button onclick="location.href='#about'" class="nav-btn">About</button>
                                  </div>
                                  <div class="sub-menu-nav">
                                    <button onclick="location.href='{% url 'produit' %}'" class="nav-btn">Produit</button>
                                    <div class="sub-menu-alt">
                                        {% for produit in produits %}
                                            <a href="#">{{produit.titre}}</a>
                                        {% endfor %}
                                    </div>
                                  </div>
                                  <div class="sub-menu-nav">
                                    <button onclick="location.href='#team'" class="nav-btn">Prestations</button>
                                    <div class="sub-menu-alt">
                                        <a href="#">Expertise vibratoire</a>
                                        <a href="#">Analyse de structure</a>
                                        <a href="#">Equilibrage des machines</a>
                                        <a href="#">Alignement laser</a>
                                        <a href="#">Diagnostic acoustique</a>
                                        <a href="#">Cartographie de bruit</a>
                                        <a href="#">Tribologie</a>
                                        <a href="#">Analyse par ultrason</a>
                                    </div>
                                  </div>
                                  <div class="sub-menu-nav">
                                    <button onclick="location.href='#services'" class="nav-btn">Formation</button>
                                    <div class="sub-menu-alt">
                                        <a href="#">Programme de formation inter</a>
                                        <a href="#">Programme de formation intra</a>
                                        <a href="#">Technologies One proD</a>
                                        <a href="#">Diagnostic vibratoire niv I</a>
                                        <a href="#">Diagnostic vibratoire niv II</a>
                                        <a href="#">Diagnostic vibratoire niv III</a>
                                        <a href="#">Analyse de structure</a>
                                        <a href="#">Certification MOBIUS</a>
                                        <a href="#">Management de la maintenance</a>
                                        <a href="#">Lean maintenance</a>
                                    </div>
                                  </div>
                                  <div class="sub-menu-nav">
                                    <button onclick="location.href='#consulting'" class="nav-btn">Consulting</button>
                                    <div class="sub-menu-alt">
                                        <a href="#">Audit de la maintenance</a>
                                        <a href="#">Audit Lean et performance</a>
                                        <a href="#">Accompagnement Lean</a>
                                        <a href="#">Accompagnement Maintenance</a>
                                        <a href="#">Développement des compétences</a>
                                        <a href="#">Organisation Bureaux Méthodes</a>
                                    </div>
                                  </div>
                                  <div class="sub-menu-nav">
                                    <button onclick="location.href='#clients'" class="nav-btn">Réferences</button>
                                  </div>
                                  <div class="sub-menu-nav">
                                    <button onclick="location.href='#contact'" class="nav-btn">Contact</button>
                                  </div>
                            </div>
                        </div><!-- end main-menu -->
                    </div>
                </div>
            </div>
        </header>
    <!--End Navigation-->

      
        <!-- Start Slider  -->
        <section id="home" class="home">
             <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper">  
                            <div class="container">
                                <div class="big">Free Responsive Template </div>          
                                <div class="small">Are you ready to buy this theme</div>
                                <a href="#produit" class="middle btn btn-white">VIEW PORTFOLIO</a>
                            </div>       
                        </div>
                        <img src="{% static 'images/slider/pump.jpg' %}" alt="">
                    </li>
                    
                    <li class="secondary">
                        <div class="slider-text-wrapper"> 
                            <div class="container">                       
                                <div class="big">Free Responsive Template </div>          
                                <div class="small">Are you ready to buy this theme</div>
                                <a href="#produit" class=" middle btn btn-white">VIEW PORTFOLIO</a>
                            </div>
                         </div>
                        <img src="{% static 'images/slider/shaft.jpg' %}" alt="">
                    </li>
                    
                    <li class="third">
                        <div class="slider-text-wrapper"> 
                            <div class="container">                              
                                <div class="big">Free Responsive Template </div>          
                                <div class="small">Are you ready to buy this theme</div>
                                <a href="#produit" class="middle btn btn-white">VIEW PORTFOLIO</a>
                             </div>
                        </div>
                        <img src="{% static 'images/slider/service.jpg' %}" alt="">
                    </li>
                </ul>
            </div>
        </section>
          <!-- End Slider  -->


  <!--Start Features-->
  <section  id="about" class="section">
       <div class="container">
           <div class="row">
               <!-- Features Icon-->
               <div class="col-md-4">
                   <div class="features-icon-box">
                        <div class="features-icon">
                          <i class="fa fa-paper-plane"></i>
                        </div>

                        <div class="features-info">
                         <h4>Qui sommes nous</h4>
                         <p></p>
                        </div>
                   </div>
               </div>
              <!-- Features Icon-->
               <div class="col-md-4">
                   <div class="features-icon-box">
                       <div class="features-icon">
                            <i class="fa fa-line-chart"></i>
                       </div>
                       <div class="features-info">
                            <h4>Mission et Vision</h4>
                            <p>La Mission de PAC est de contribuer à l’amélioration et l’optimisation des
                               équipements industriels de nos clients, dans une volonté d’efficacité
                               technique et financière : augmenter la disponibilité et la fiabilité de vos
                               équipements, tout en assurant la sécurité de vos équipes et maitriser la
                               disponibilité de vos outils de production est pour nous un but à atteindre
                               Nous souhaitons que les investissements en infrastructures de nos clients
                               soient durables et apportent un retour sur investissement satisfaisant pour
                               l’ensemble des parties prenantes des projets.</p>
                       </div>
                   </div>
               </div>

               <!-- Features Icon-->
               <div class="col-md-4">
                  <div class="features-icon-box">

                      <div class="features-icon">
                      <i class="fa fa-leaf"></i>
                      </div>

                      <div class="features-info">
                         <h4>Valeurs</h4>
                         <p></p>
                      </div>
                  </div>
              </div>

           </div> <!-- /.row-->
       </div> <!-- /.container-->
  </section> 
  <!--End Features-->

   <!--Start portfolio-->
   <section id="produit" class="section">
				 <!-- Filtering -->
        <div class="title-box text-center">
            <h2 class="title">Nos Produits</h2>
        </div>
        <div class=" col-md-12 text-center">
            <!-- Filtering -->
            <ul class="filtering">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter="shaft alignment">shaft alignment</li>
                <li class="filter" data-filter="CONDITION MONITORING">CONDITION MONITORING</li>
            </ul>
        </div>
        <div class="work-main">
            <!-- Produit item Grid -->
            <ul class="work-grid">

                {% for produit in produits %}
                    <!-- Produit Item -->
                        {% if produit.filter == "shaft alignment" %}
                            <li class="work-item thumnail-img mix shaft alignment">
                        {% elif produit.filter == "CONDITION MONITORING" %}
                            <li class="work-item thumnail-img mix CONDITION MONITORING">
                        {% else %}
                            <li class="work-item thumnail-img mix">
                        {% endif %}
                        <div class="work-image">
                            <img src="{{produit.image.url}}" class="rounded float-right">

                             <!--Hover link-->
                             <div class="hover-link">
                                <a href="single-work.html">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a href="{{produit.image.url}}" class="popup-image">
                                    <i class="fa fa-plus"></i>
                                </a>
                             </div>
                             <!--End link-->
                             <!--Hover Caption-->
                             <div class="work-caption">
                                 <h4>{{produit.titre}}</h4>
                                 <p>{{produit.small_desc | linebreaks}}</p>
                             </div>
                             <!--End Caption-->
                        </div>
                    </li>
                     <!--End Produit Item -->
                {% endfor %}
            </ul>
        </div>
   </section>
  <!--End portfolio-->

  <!--Start Prestations-->
  <section id="team" class="section">
		<div class="container">
            <div class="row">
                    
             <div class="title-box text-center">
                <h2 class="title">Presatations</h2>
             </div>
              
             </div>
			
                <!-- Team -->
				<div class="team-items team-carousel">
                      <!-- Prestation Member #1 -->
                      <div class="item">
                          <h4>Expertise vibratoire</h4>
                          <p>Expertise vibratoire est une opération qui vise à identifier les origines des
                            vibrations sur des machines tournantes , par des prélèvements des mesures
                            vibratoire périodique,
                            Nos experts rejoignent et accompagne votre équipe dans la résolution des
                            problématiques de vibration de vos équipements</p>
                      </div>
                      <!-- End Member -->
                      
                      <!-- Prestation Member #2 -->
                      <div class="item">
                          <h4>Analyse de structure</h4>
                          <p></p>
                      </div>
                      <!-- End Member -->
                      
                      <!-- Prestation Member #3 -->
                      <div class="item">
                          <h4>Equilibrage des machines</h4>
                          <p>L'équilibrage
                            de votre machine tournante donne obligatoirement
                            lieu à la délivrance d’un rapport complet et détaillé de l'expertise
                            effectuée par un de nos experts.
                            La procédure d’équilibrage consiste à réaliser des essais
                            d’influence de masses sur des plans d’équilibrage que nous
                            définissons (flasque d’une roue et ailettes de ventilateurs,
                            accouplements, trous ou pistes d’équilibrage , …) afin de
                            déterminer la quantité et la localisation des masses de correction
                            à l’aide de nos logiciels de calculs.</p>
                      </div>
                      <!-- End Member -->
                      
                       <!-- Prestation Member #4 -->
                      <div class="item">
                          <h4>Alignement laser</h4>
                          <p>les machines tournantes sont sensibles aux défauts
                            d’alignement. Les machines correctement alignées et
                            régulièrement contrôlées permettent de faire une économie
                            considérable sur les coûts d’exploitation et de maintenance.
                            A plusieurs égards, l’alignement précis des arbres permet de
                            grosses économies sur les coûts :</p>
                          <p>•Réduction de la consommation de courant</p>
                          <p>•Les paliers s’usent moins</p>
                          <p>•Etanchéités, arbres et accouplements</p>
                          <p>•Pas de températures élevées sur le palier et l’accouplement</p>
                          <p>•Réduction des vibrations sur les arbres et les vis de fondations</p>
                          <p>•Altérations fortement réduite des arbres et vis de fondations.</p>

                      </div>
                      <!-- End Member -->
                      
                       <!-- Prestation Member #5 -->
                      <div class="item">
                          <h4>Diagnostic acoustique</h4>
                          <p></p>
                      </div>
                      <!-- End Member -->
                      
                       <!-- Prestation Member #6 -->
                      <div class="item">
                          <h4>Cartographie de bruit</h4>
                          <p></p>
                      </div>
                      <!-- End Member -->
                     <!-- Prestation Member #7 -->
                      <div class="item">
                          <h4>Tribologie</h4>
                          <p></p>
                      </div>
                      <!-- End Member -->
                    <!-- Prestation Member #8 -->
                      <div class="item">
                          <h4>Analyse par ultrason</h4>
                          <p></p>
                      </div>
                      <!-- End Member -->
				</div>
                <!-- End Team -->
			</div>
            <!-- End Content -->
	</section>
  <!--End Team-->


    <!--Start Skills-->

    <!--Start Formation-->
   <section id="services" class="section">
        <div class="container">
            <div class="row">
            
                 <div class="title-box text-center">
                    <h2 class="title">Formation</h2>
                 </div>
              
               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Programme de formation inter</h4>
                   </div>
               </div>
                <!--End Formation Item-->
                
                <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Programme de formation intra</h4>
                   </div>
               </div>
                <!--End Formation Item-->

               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Technologies One proD</h4>
                   </div>
               </div>
                <!--End Formation Item-->
                
               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Diagnostic vibratoire niv I</h4>
                   </div>
               </div>
                <!--End Formation Item-->
               
               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Diagnostic vibratoire niv II</h4>
                   </div>
               </div>
                <!--End Formation Item-->
              
               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Diagnostic vibratoire niv III</h4>
                   </div>
               </div>
                <!--End Formation Item-->
               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Analyse de structure</h4>
                   </div>
               </div>
                <!--End Formation Item-->
               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Certification MOBIUS</h4>
                   </div>
               </div>
                <!--End Formation Item-->
               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                          <h4>Management de la maintenance</h4>
                   </div>
               </div>
                <!--End Formation Item-->
               <!--Formation Item-->
               <div class="col-md-4">
                   <div class="services-box">
                       <h4>Lean maintenance</h4>
                   </div>
               </div>
                <!--End Formation Item-->
            </div> <!--/.row-->
        </div> <!--/.container-->
   </section> 
  <!--End Formation-->

   <!-- Start consulting-->
   <section id="consulting" class="section">
       <div class="container">
           <div class="row">
           
                 <div class="title-box text-center">
                    <h2 class="title">Consulting</h2>
                 </div>
                
               <!-- Start Consulting item #1-->
               <div class="col-md-4">
                   <div class="consulting-post">
                       <div class="post-desc">
                           <h4>Audit de la maintenance</h4>
                           <p><strong>audit de la maintenance industrielle</strong> est la première
                            étape, nécessaire, d'un projet d'amélioration,
                            d'optimisation des pratiques en place sur un site de
                            production en vue d'optimiser les performances
                            Pour en maîtriser les conséquences et les risques
                            associés, apporter des améliorations doit se faire de
                            façon structurée et méthodique
                            Capitaliser
                            sur les points forts existants et bien ancrés
                            nécessite <strong>expertise</strong> et <strong>savoir faire</strong> de la part des acteurs
                            de changement qui interviennent</p>
                       </div>
                   </div>
               </div>
               
               <!-- Start Consulting item #2-->
               <div class="col-md-4">
                   <div class="consulting-post">
                       <div class="post-desc">
                           <h4>Audit Lean et performance</h4>
                            <p></p>
                       </div>
                   </div>
               </div>
               
               <!-- Start Consulting item #3-->
               <div class="col-md-4">
                   <div class="consulting-post">
                       <div class="post-desc">
                           <h4>Accompagnement Lean</h4>
                            <p></p>
                       </div>
                   </div>
               </div>

               <!-- Start Consulting item #4-->
               <div class="col-md-4">
                   <div class="consulting-post">
                       <div class="post-desc">
                           <h4>Accompagnement Maintenance</h4>
                            <p></p>
                       </div>
                   </div>
               </div>

               <!-- Start Consulting item #5-->
               <div class="col-md-4">
                   <div class="consulting-post">
                       <div class="post-desc">
                           <h4>Développement des compétences</h4>
                            <p></p>
                       </div>
                   </div>
               </div>

               <!-- Start Consulting item #6-->
               <div class="col-md-4">
                   <div class="consulting-post">
                       <div class="post-desc">
                           <h4>Organisation Bureaux Méthodes</h4>
                            <p></p>
                       </div>
                   </div>
               </div>
           </div> <!--/.row-->
       </div> <!--/.container-->
   </section>
   <!-- End consulting-->
    <!--Start Références-->
    <section id="clients" class="section">
           <div class="container">
               <div class="row">
               
            <div class="title-box text-center">
                <h2 class="title">Réferences</h2>
             </div>
                
                   <div class="clients-carousel">
                   
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/sonasid.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/managem.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/lafarge.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/holcim.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/ciments.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/cimat.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/temara.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/simens.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/mcp.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/unilever.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/total.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/alstom.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/lpee.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/cimaf.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/ca2e.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/rob.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/cegelec.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/jeesr.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/salam.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/gpc.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/apm.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/sothema.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/tbn.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/coficad.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/lesieur.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/danone.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/centrale.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                       <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/ocp.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                   </div>
               </div> <!--/.row-->
         </div> <!--/.container-->
    </section>
   <!--End Réferences-->
   
   
   <!--Start Contact-->
   <section id="contact" class="section parallax">
      <div class="overlay"></div>
       <div class="container">
           <div class="row">
           
                 <div class="title-box text-center white">
                    <h2 class="title">Contact</h2>
                 </div>
             </div>

               <!--Start contact form-->
               <div class="col-md-8 col-md-offset-2 contact-form">
               
                    <div class="contact-info text-center">
                       <p>06 61 30 59 68 / 022 27 51 66</p>
                       <p>03 Rue Calavon Elkaram II Rez de Chaussée N : 03 Quartier des Hôpitaux 20340 Casablanca</p>
                       <p>hassan.ayadi.pac@gmail.com</p>
                    </div>
                     
                     <form method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" id="name" placeholder="Full Name" type="text">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="email" placeholder="Your Email" type="email">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="subject" placeholder="Subject" type="text">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" id="message" rows="7" placeholder="Your Message"></textarea>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-green">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
               </div>
              <!--End contact form-->
              
       </div> <!-- /.container-->
   </section>
   <!--End Contact-->
   
   
   <!--Start Footer-->
   <footer>
       <div class="container">
           <div class="row">
               <!--Start copyright-->
               <div class="col-md-6 col-sm-6 col-xs-6">
                   <div class="copyright"><p>Copyright © 2021 All Rights reserved by: <a href="https://www.linkedin.com/in/khalil-jemghili-18619b1ba/">Jemghili Khalil</a>
                 </p></div>
               </div>
               <!--End copyright-->
               
               <!--start social icons-->
               <div class="col-md-6 col-sm-6 col-xs-6">
                   <div class="social-icons">
                       <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                       </ul>
                    </div>
               </div>
               <!--End social icons-->
           </div> <!-- /.row-->
       </div> <!-- /.container-->
   </footer>
   <!--End Footer-->

   <a href="#" class="scrollup"> <i class="fa fa-chevron-up"> </i> </a>

    <!--Plugins-->
	<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easypiechart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>


    
 </body>
</html>

