{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en-gb" class="no-js">
    <head>
        <meta charset="utf-8">
    	<title>Proocess Automation Consulting</title>
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">

    	<!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


         <!--styles -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'js/owl-carousel/owl.theme.css' %}" rel="stylesheet">
        <link href="{% static 'js/owl-carousel/owl.transitions.css' %}" rel="stylesheet">
        <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
        <link rel="stylesheet" href="{% static 'css/etlinefont.css' %}">
        <link href="{% static 'css/style.css' %}" type="text/css"  rel="stylesheet"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="{% static 'js/html5shiv.js' %}"></script>
            <script src="{% static 'js/respond.min.js' %}"></script>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js">
            </script>
        <![endif]-->
    </head>

    <body  data-spy="scroll" data-target="#main-menu">
        <!--Start Page loader -->
        <div id="pageloader">
            <div class="loader">
              <img src="{% static 'images/progress.gif' %}" alt='loader' />
            </div>
        </div>
        <!--End Page loader -->

        <!--Start Navigation-->
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".sub-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--Start Logo -->
                        <div class="logo-nav">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'images/apple-touch-icon.png' %}" alt="Company logo" height="50px" width="80px" />
                            </a>
                        </div>
                        <!--End Logo -->
                        <div class="clear-toggle"></div>
                        <div class="sub-menu">
                            <div class="sub-menu-nav">
                                <button onclick="location.href='{% url 'home' %}'" class="nav-btn">Home</button>
                            </div>
                            <div class="sub-menu-nav">
                                <button onclick="location.href='{% url 'home' %}#about'" class="nav-btn">About</button>
                            </div>
                            <div class="sub-menu-nav">
                                <button onclick="location.href='{% url 'produit' %}'" class="nav-btn">Produit</button>
                                <div class="sub-menu-alt">
                                    <ul>
                                        {% for produit in produits %}
                                            <li><a href="{% url 'produit' %}#{{produit.titre}}">{{produit.titre}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="sub-menu-nav">
                                <button onclick="location.href='{% url 'home' %}#prestation'" class="nav-btn">Prestations</button>
                                <div class="sub-menu-alt">
                                    <ul>
                                        {% for prestation in prestations %}
                                            <li><a href="{% url 'home' %}#{{prestation.titre}}">{{prestation.titre}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="sub-menu-nav">
                                <button onclick="location.href='{% url 'home' %}#formation'" class="nav-btn">Formation</button>
                                <div class="sub-menu-alt">
                                    <ul>
                                        {% for formation in formations %}
                                            <li><a href="{% url 'home' %}#{{formation.titre}}">{{formation.titre}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="sub-menu-nav">
                                <button onclick="location.href='{% url 'home' %}#consulting'" class="nav-btn">Consulting</button>
                                <div class="sub-menu-alt">
                                    <ul>
                                        {% for consulting in consultings %}
                                            <li><a href="{% url 'home' %}#{{consulting.titre}}">{{consulting.titre}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="sub-menu-nav">
                                <button onclick="location.href='{% url 'home' %}#références'" class="nav-btn">Réferences</button>
                            </div>
                            <div class="sub-menu-nav">
                                <button onclick="location.href='{% url 'home' %}#contact'" class="nav-btn">Contact</button>
                            </div>
                        </div>
                    </div><!-- end main-menu -->
                </div>
            </div>
        </header>
        <!--End Navigation-->

        <!-- Start Slider  -->
        <section id="home" class="home">
            <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper">
                            <div class="container">
                                <div class="big">PRODUIT</div>
                                <div class="small">EAGLE, NXA, FALCON, MVX/MV, RT, NESTI ...</div>
                                <a href="#produit" class="middle btn btn-white">VOIR NOS PRODUITS</a>
                            </div>
                        </div>
                        <img src="{% static 'images/slider/pump.jpg' %}" alt="">
                    </li>
                    <li class="secondary">
                        <div class="slider-text-wrapper">
                            <div class="container">
                                <div class="big">PRESTATIONS</div>
                                <div class="small">Expertise vibratoire, Analyse de structure...</div>
                                <a href="#prestation" class=" middle btn btn-white">VOIR NOS PRESTATIONS</a>
                            </div>
                        </div>
                        <img src="{% static 'images/slider/shaft.jpg' %}" alt="">
                    </li>
                    <li class="third">
                        <div class="slider-text-wrapper">
                            <div class="container">
                                <div class="big">FORMATION</div>
                                <div class="small">Programme de formation inter, Programme de formation intra ...</div>
                                <a href="#formation" class="middle btn btn-white">VOIR NOS FORMATIONS</a>
                            </div>
                        </div>
                        <img src="{% static 'images/slider/service.jpg' %}" alt="">
                    </li>
                </ul>
            </div>
        </section>
        <!-- End Slider  -->


        <!--Start About-->
        <section  id="about" class="section">
            <div class="container">
                <div class="row">
                    <!-- Features Icon-->
                    <div class="col-md-4">
                        <div class="features-icon-box">
                            <div class="features-icon">
                                <i class="fa fa-paper-plane"></i>
                            </div>
                            <div class="features-info">
                                <h4>Qui sommes nous</h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <!-- Features Icon-->
                    <div class="col-md-4">
                        <div class="features-icon-box">
                            <div class="features-icon">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="features-info">
                                <h4>Mission et Vision</h4>
                                <p>La Mission de PAC est de contribuer à l’amélioration et l’optimisation des
                                   équipements industriels de nos clients, dans une volonté d’efficacité
                                   technique et financière : augmenter la disponibilité et la fiabilité de vos
                                   équipements, tout en assurant la sécurité de vos équipes et maitriser la
                                   disponibilité de vos outils de production est pour nous un but à atteindre
                                   Nous souhaitons que les investissements en infrastructures de nos clients
                                   soient durables et apportent un retour sur investissement satisfaisant pour
                                   l’ensemble des parties prenantes des projets.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Features Icon-->
                    <div class="col-md-4">
                        <div class="features-icon-box">
                            <div class="features-icon">
                                <i class="fa fa-leaf"></i>
                            </div>
                            <div class="features-info">
                                <h4>Valeurs</h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.row-->
            </div> <!-- /.container-->
        </section>
        <!--End About-->

        <!--Start Produit-->
        <section id="produit" class="section">
            <!-- Filtering -->
            <div class="title-box text-center">
                <h2 class="title">Nos Produits</h2>
            </div>
            <div class=" col-md-12 text-center">
                <!-- Filtering -->
                <ul class="filtering">
                    <li class="filter" data-filter="all">All</li>
                    <li class="filter" data-filter="shaft alignment">shaft alignment</li>
                    <li class="filter" data-filter="CONDITION MONITORING">CONDITION MONITORING</li>
                </ul>
            </div>
            <div class="work-main">
                <!-- Produit item Grid -->
                <ul class="work-grid">
                    {% for produit in produits %}
                        <!-- Produit Item -->
                            {% if produit.filter == "shaft alignment" %}
                                <li class="work-item thumnail-img mix shaft alignment">
                            {% elif produit.filter == "CONDITION MONITORING" %}
                                <li class="work-item thumnail-img mix CONDITION MONITORING">
                            {% else %}
                                <li class="work-item thumnail-img mix">
                            {% endif %}
                            <div class="work-image">
                                <img src="{{produit.image.url}}" class="rounded float-right">
                                <!--Hover link-->
                                <div class="hover-link">
                                    <a href="{% url 'produit' %}#{{produit.titre}}">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <a href="{{produit.image.url}}" class="popup-image">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <!--End link-->
                                <!--Hover Caption-->
                                <div class="work-caption">
                                    <h4>{{produit.titre}}</h4>
                                    <p>{{produit.small_desc | linebreaks}}</p>
                                </div>
                                <!--End Caption-->
                            </div>
                        </li>
                        <!--End Produit Item -->
                    {% endfor %}
                </ul>
            </div>
        </section>
        <!--End Produit-->

        <!--Start Prestations-->
        <section id="prestation" class="section">
            <div class="container">
                <div class="row">
                    <div class="title-box text-center">
                        <h2 class="title">Presatations</h2>
                    </div>
                </div>
                <!-- Prestation -->
                <div class="team-items team-carousel">
                   {% for prestation in prestations %}
                        <div id="{{prestation.titre}}" class="item">
                            <h4>{{prestation.titre}}</h4>
                            <p>{{prestation.contenu|linebreaks}}</p>
                        </div>
                    {% endfor %}
                </div>
                <!-- End Prestation -->
            </div>
            <!-- End Content -->
        </section>
        <!--End Team-->

        <!--Start Formation-->
        <section id="formation" class="section">
            <div class="container">
                <div class="row">
                    <div class="title-box text-center">
                        <h2 class="title">Formation</h2>
                    </div>
                    <!--Formation Item-->
                    {% for formation in formations %}
                        <div id="{{formation.titre}}" class="col-md-4">
                           <div class="services-box">
                               <h4>{{formation.titre}}</h4>
                               <div>{{formation.contenu}}</div>
                           </div>
                        </div>
                    {% endfor %}
                    <!--End Formation Item-->
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!--End Formation-->

        <!-- Start consulting-->
        <section id="consulting" class="section">
            <div class="container">
                <div class="row">
                    <div class="title-box text-center">
                        <h2 class="title">Consulting</h2>
                    </div>
                    {% for consulting in consultings %}
                        <div id = "{{consulting.titre}}" class="col-md-4">
                            <div class="consulting-post">
                                <div class="post-desc">
                                    <h4>{{consulting.titre}}</h4>
                                    <p>{{consulting.contenu}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!-- End consulting-->

        <!--Start Références-->
        <section id="références" class="section">
            <div class="container">
                <div class="row">
                    <div class="title-box text-center">
                        <h2 class="title">Réferences</h2>
                    </div>
                    <div class="clients-carousel">
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/sonasid.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/managem.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/lafarge.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/holcim.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/ciments.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/cimat.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/temara.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/simens.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/mcp.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/unilever.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/total.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/alstom.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/lpee.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/cimaf.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/ca2e.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/rob.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/cegelec.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/jeesr.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/salam.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/gpc.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/apm.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/sothema.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/tbn.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/coficad.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/lesieur.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/danone.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/centrale.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                        <!-- Clients Logo Item-->
                        <div class="item">
                            <a href="#">
                                <figure>
                                    <img src="{% static 'images/ref/ocp.jpg' %}" alt="" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </section>
        <!--End Réferences-->


        <!--Start Contact-->
        <section id="contact" class="section parallax">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="title-box text-center white">
                        <h2 class="title">Contact</h2>
                    </div>
                </div>
                <!--Start contact form-->
                <div class="col-md-8 col-md-offset-2 contact-form">
                    <div class="contact-info text-center">
                        <p>06 61 30 59 68 / 022 27 51 66</p>
                        <p>03 Rue Calavon Elkaram II Rez de Chaussée N : 03 </p>
                        <p>Quartier des Hôpitaux 20340 Casablanca</p>
                        <p><a href = "mailto: hassan.ayadi.pac@gmail.com">hassan.ayadi.pac@gmail.com</a></p>
                    </div>
                </div>
                <!--End contact form-->
            </div> <!-- /.container-->
        </section>
        <!--End Contact-->


        <!--Start Footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <!--Start copyright-->
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="copyright"><p>Copyright © 2021 All Rights reserved by: <a href="https://www.linkedin.com/in/khalil-jemghili-18619b1ba/">Jemghili Khalil</a>
                        </p></div>
                    </div>
                    <!--End copyright-->
                    <!--start social icons-->
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="https://www.linkedin.com/company/process-automation-consulting/about/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End social icons-->
                </div> <!-- /.row-->
            </div> <!-- /.container-->
        </footer>
        <!--End Footer-->
        <a href="#" class="scrollup"> <i class="fa fa-chevron-up"> </i> </a>
        <!--Plugins-->
    	<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easypiechart.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    </body>
</html>

